In [2]:
# Importing Libraries
import pandas as pd
data = pd.read_excel("Call_Center_Dataset.xlsx")

In [3]:
data.shape[0]

5000

In [4]:
data.columns

Index(['Call Id', 'Agent', 'Date', 'Time', 'Topic', 'Answered (Y/N)',
       'Resolved', 'Speed of answer in seconds', 'AvgTalkDuration',
       'Satisfaction rating'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   object
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered (Y/N)              5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: float64(2), object(8)
memory usage: 390.8+ KB

In [6]:
data.head(5)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,00:02:11,3.0
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,00:00:37,2.0
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,00:01:00,3.0

In [7]:
data.duplicated().sum()

np.int64(0)

In [8]:
data.isnull().sum()

Call Id                         0
Agent                           0
Date                            0
Time                            0
Topic                           0
Answered (Y/N)                  0
Resolved                        0
Speed of answer in seconds    946
AvgTalkDuration               946
Satisfaction rating           946
dtype: int64

In [9]:
data['Speed of answer in seconds'] = data['Speed of answer in seconds'].fillna(data['Speed of answer in seconds'].mean())

In [10]:
data['AvgTalkDuration'] = data['AvgTalkDuration'].astype(str)
data['AvgTalkDuration'] = pd.to_timedelta(data['AvgTalkDuration'])
data['AvgTalkDuration'] = data['AvgTalkDuration'].dt.total_seconds() / 60

In [11]:
data['AvgTalkDuration'] = data['AvgTalkDuration'].fillna(data['AvgTalkDuration'].mean())
data['AvgTalkDuration'] = data['AvgTalkDuration'].round(2)

In [12]:
data['Satisfaction rating'] = data['Satisfaction rating'].fillna(data['Satisfaction rating'].mean())
data['Satisfaction rating'] = data['Satisfaction rating'].round(2)

In [13]:
data.isnull().sum()

Call Id                       0
Agent                         0
Date                          0
Time                          0
Topic                         0
Answered (Y/N)                0
Resolved                      0
Speed of answer in seconds    0
AvgTalkDuration               0
Satisfaction rating           0
dtype: int64

In [15]:
data['Speed of answer in seconds'] = pd.to_timedelta(data['Speed of answer in seconds'], unit = 's').dt.total_seconds()
data['Speed of answer in seconds'] = data['Speed of answer in seconds'].round(2)
data['Date'] = pd.to_datetime(data['Date'])
data['Time'] = pd.to_datetime(data['Time'], format='%H:%M:%S')
data['Time'].dtypes

dtype('<M8[ns]')

In [16]:
data.dtypes

Call Id                               object
Agent                                 object
Date                          datetime64[ns]
Time                          datetime64[ns]
Topic                                 object
Answered (Y/N)                        object
Resolved                              object
Speed of answer in seconds           float64
AvgTalkDuration                      float64
Satisfaction rating                  float64
dtype: object

In [17]:
data['Answered (Y/N)'] = data['Answered (Y/N)'].replace({'Y':'Yes','N':'No'})
data['Resolved'].unique()
data['Resolved'] = data['Resolved'].replace({'Y':'Yes','N':'No'})

In [18]:
data.sample(5)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
101,ID0102,Martha,2021-01-02,1900-01-01 13:45:07,Technical Support,Yes,No,79.00,5.52,1.0
2029,ID2030,Jim,2021-02-05,1900-01-01 09:27:22,Contract related,No,No,67.52,3.75,3.4
3548,ID3549,Martha,2021-03-03,1900-01-01 15:50:24,Payment related,Yes,Yes,89.00,5.13,4.0
859,ID0860,Becky,2021-01-15,1900-01-01 17:41:17,Streaming,Yes,Yes,71.00,2.65,3.0
1590,ID1591,Diane,2021-01-29,1900-01-01 11:57:07,Payment related,No,No,67.52,3.75,3.4