In [1]:
import pandas as pd
data = pd.read_csv('ForbesAmericasTopColleges2019.csv')

In [2]:
data.shape[0]

650

In [3]:
data.columns

Index(['Rank', 'Name', 'City', 'State', 'Public/Private',
       'Undergraduate Population', 'Student Population', 'Net Price',
       'Average Grant Aid', 'Total Annual Cost', 'Alumni Salary',
       'Acceptance Rate', 'SAT Lower', 'SAT Upper', 'ACT Lower', 'ACT Upper',
       'Website'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      650 non-null    int64
 1   Name                      650 non-null    object
 2   City                      650 non-null    object
 3   State                     650 non-null    object
 4   Public/Private            650 non-null    object
 5   Undergraduate Population  650 non-null    int64
 6   Student Population        650 non-null    int64
 7   Net Price                 648 non-null    float64
 8   Average Grant Aid         646 non-null    float64
 9   Total Annual Cost         650 non-null    int64
 10  Alumni Salary             635 non-null    float64
 11  Acceptance Rate           648 non-null    float64
 12  SAT Lower                 551 non-null    float64
 13  SAT Upper                 551 non-null    float64
 14  ACT Lower                 553 non-null    float64
 15  ACT Upper                 553 non-null    float64
 16  Website                   645 non-null    object
dtypes: float64(8), int64(4), object(5)
memory usage: 86.5+ KB

In [5]:
data.head()

,Rank,Name,City,State,Public/Private,Undergraduate Population,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,Website
0,1,Harvard University,Cambridge,MA,Private,13844,31120,14327.0,49870.0,69600,146800.0,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu
1,2,Stanford University,Stanford,CA,Private,8402,17534,13261.0,50134.0,69109,145200.0,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu
2,3,Yale University,New Haven,CT,Private,6483,12974,18627.0,50897.0,71290,138300.0,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu
3,4,Massachusetts Institute of Technology,Cambridge,MA,Private,4680,11466,20771.0,43248.0,67430,155200.0,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu
4,5,Princeton University,Princeton,NJ,Private,5659,8273,9327.0,48088.0,66150,139400.0,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu

In [6]:
data.duplicated().sum()

np.int64(0)

In [7]:
data.isnull().sum()

Rank                         0
Name                         0
City                         0
State                        0
Public/Private               0
Undergraduate Population     0
Student Population           0
Net Price                    2
Average Grant Aid            4
Total Annual Cost            0
Alumni Salary               15
Acceptance Rate              2
SAT Lower                   99
SAT Upper                   99
ACT Lower                   97
ACT Upper                   97
Website                      5
dtype: int64

In [8]:
data = data.fillna(value= '')
data.isnull().sum()

Rank                        0
Name                        0
City                        0
State                       0
Public/Private              0
Undergraduate Population    0
Student Population          0
Net Price                   0
Average Grant Aid           0
Total Annual Cost           0
Alumni Salary               0
Acceptance Rate             0
SAT Lower                   0
SAT Upper                   0
ACT Lower                   0
ACT Upper                   0
Website                     0
dtype: int64

In [9]:
data.dtypes

Rank                         int64
Name                        object
City                        object
State                       object
Public/Private              object
Undergraduate Population     int64
Student Population           int64
Net Price                   object
Average Grant Aid           object
Total Annual Cost            int64
Alumni Salary               object
Acceptance Rate             object
SAT Lower                   object
SAT Upper                   object
ACT Lower                   object
ACT Upper                   object
Website                     object
dtype: object

In [10]:
data.head()

,Rank,Name,City,State,Public/Private,Undergraduate Population,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate,SAT Lower,SAT Upper,ACT Lower,ACT Upper,Website
0,1,Harvard University,Cambridge,MA,Private,13844,31120,14327.0,49870.0,69600,146800.0,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu
1,2,Stanford University,Stanford,CA,Private,8402,17534,13261.0,50134.0,69109,145200.0,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu
2,3,Yale University,New Haven,CT,Private,6483,12974,18627.0,50897.0,71290,138300.0,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu
3,4,Massachusetts Institute of Technology,Cambridge,MA,Private,4680,11466,20771.0,43248.0,67430,155200.0,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu
4,5,Princeton University,Princeton,NJ,Private,5659,8273,9327.0,48088.0,66150,139400.0,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu

In [11]:
data['Net Price'] = data['Net Price'].astype(float)

ValueError: could not convert string to float: ''

In [12]:
data['Net Price'] = data['Net Price'].str.strip()
data['Net Price'] = data['Net Price'].str.replace(',', '')
data = data[data['Net Price']!='']
data['Net Price'] = data['Net Price'].astype(float)
data['Net Price'].dtypes

dtype('float64')

In [17]:
# Define a function to clean and convert columns to float
def clean_column(series):
    series = series.astype(str).str.strip()  # Convert to string and strip spaces
    series = series.str.replace(',', '', regex=True)  # Remove commas
    series = series.replace('', pd.NA)  # Replace empty strings with NaN
    return pd.to_numeric(series, errors='coerce')  # Convert to float (invalid values → NaN)

# List of columns to clean
columns_to_clean = ['Alumni Salary','Acceptance Rate','SAT Lower','SAT Upper','ACT Lower','ACT Upper', 'Average Grant Aid',]

# Apply the function to multiple columns
data[columns_to_clean] = data[columns_to_clean].apply(clean_column)

print(data.dtypes)

Rank                          int64
Name                         object
City                         object
State                        object
Public/Private               object
Undergraduate Population      int64
Student Population            int64
Net Price                   float64
Average Grant Aid           float64
Total Annual Cost             int64
Alumni Salary               float64
Acceptance Rate             float64
SAT Lower                   float64
SAT Upper                   float64
ACT Lower                   float64
ACT Upper                   float64
Website                      object
dtype: object

In [ ]:
data.to_csv('ForbesAmericansTopColleges.csv')